/* You can add global styles to this file, and also import other style files */
body {
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
    url("assets/background.jpg");
    color: white;

    margin: 0px;
    padding: 0px;
  }