<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <h2 class="center">A UCLA Extension Social Justice Hackathon Entry</h2>
  </div>
  <div class="content" role="main">
    <app-graph></app-graph>
  </div>    
  <!-- Footer -->
  <footer>
      <h4 style="text-align: center;">Created by Alison Wood, James Doran, Daniel Sedano, and Evan Davis-Palley</h4>
  </footer>
</body>
<router-outlet></router-outlet>