<div class="">
    <div class="row">
        <div class="twelve columns"><label>Choose a Graph</label><br>
            <select id="dropdown" [(ngModel)]="graph" (ngModelChange)="newGraph(graph)">
                <option *ngFor="let graphChosen of graphList"
                        [ngValue]="graphChosen"
                        [selected]="graphChosen.title == graph.title ? true : null">
                {{graphChosen.title}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns u-centered">
            <h3>{{ graph.title | titlecase }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <img class="u-centered" [src]='graph.source' [alt]='graph.title'/>
        </div>
        <div class="six columns">
            <p class="desc">{{ graph.desc }}</p>
        </div>
    </div>
    <div *ngFor="let table of tables" class="row">
        <div class="six columns">
            <img class="u-centered" [src]='table.source' [alt]='table.title'/>
        </div>
        <div class="six columns">
            <p class="desc">{{ table.desc }}</p>
        </div>
    </div>
</div>