<div class="">
    <div class="row">
        <div class="twelve columns u-centered">
            <h3>{{ graph.title | titlecase }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns"><img class="u-centered" [src]='graph.source' [alt]='graph.title'/></div>
    </div>
    <div class="row">
        <div class="eight columns offset-by-two"><label>Choose a Graph</label><br>
            <select [(ngModel)]="graph" (ngModelChange)="newGraph(graph)">
                <option *ngFor="let graphChosen of graphList"
                        [ngValue]="graphChosen"
                        [selected]="graphChosen.title == graph.title ? true : null">
                {{graphChosen.title}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p class="data">{{ graph.desc }}</p>
        </div>
    </div>
</div>