<div class="container">
    <div class="row">
        <div class="twelve columns u-centered">
            <h3>{{param1.display | titlecase}} graphed against {{param2.display | titlecase}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns"><img class="u-centered" [src]='image.source'/></div>
    </div>
    <div class="row">
        <div class="four columns offset-by-two"><label>Y Axis:</label><br>
            <select [(ngModel)]="param1.name" (change)="newGraph(param1, param2)">
                <option *ngFor="let option of options"
                        [value]="option.name"
                        [selected]="option.name == param1.name ? true : null">
                {{option.display}}
                </option>
            </select>
        </div>
        <div class="four columns">
            <label>X Axis:</label><br>
            <select [(ngModel)]="param2.name" (change)="newGraph(param1, param2)">
                <option *ngFor="let option of options"
                        [value]="option.name"
                        [selected]="option.name == param2.name ? true : null">
                {{option.display}}
                </option>
            </select>
        </div>
    </div>
</div>